.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;

  padding: 140px 0;
}

.title {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-size: 44px;
  line-height: 140%;
  font-weight: 700;
  text-align: center;
  max-width: 784px;
  margin: 0 auto;
}
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.button {
  display: inline-block;
  min-width: 180px;
  line-height: 100%;
  padding: 12px 30px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  border-radius: 12px;
  overflow: hidden;

  background-color: #5c07e8;
  color: #ffffff;
  transition: color 0.25s ease, background-color 0.25s ease,
    border-color 0.25s ease;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.learnMore {
  background: #fff;
  color: #000;
}
.button:hover {
  background-color: #2f26ad;
}
@media only screen and (max-width: 520px) {
  .title {
    font-size: 32px;
  }
  .button {
    font-size: 16px;
  }
}
